@namespace bf "http://id.loc.gov/ontologies/bibframe/";
@namespace dc "http://purl.org/dc/elements/1.1/";
@namespace exml "https://sub.uni-goettingen.de/met/standards/entity-xml#";
@namespace foaf "http://xmlns.com/foaf/0.1/";
@namespace gndo "https://d-nb.info/standards/elementset/gnd#";
@namespace mml "http://www.w3.org/1998/Math/MathML";
@namespace owl "http://www.w3.org/2002/07/owl#";
@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xlink "http://www.w3.org/1999/xlink";
@namespace xml "http://www.w3.org/XML/1998/namespace";
@namespace svg "http://www.w3.org/2000/svg";


data > list > *:not(title):not(abstract):not(oxy|comment) > *:not(revision) {
    display: block;
    border-left: 3px solid #223843;
    border-bottom: 1px solid #223843 ;
    padding-left: 5px;
    margin-bottom: 5px;
    background: rgba(255, 255, 255, 0.534);
}

data > list > *:not(title):not(abstract):not(oxy|comment) > *:not(revision):after {
    margin-left: 30px;
    content: oxy_xpath('if (@*) then ( for $att in @* return ("\A@"||$att/name()||": "||data($att)||"") ) else ()');
    font-size: smaller;
    font-style: italic !important;
    font-weight: 100 !important;
    color: #223843;  
}

/* # DEFAULT Names */
data > list > *:not(title):not(abstract):not(oxy|comment) > *:not(revision):before(500) {
    font-style: normal !important;
    font-weight: 100;
    color: #223843;
    text-decoration: none !important;
    content: oxy_xpath('name()||": "');
    /* margin-right: 10px; */
}

/* ######### Spezial Entity Property Colors ########*/

corporateBody > *:not(revision):not(change) {
    border-color: #102B3F !important;
    border-left: 3px solid !important;
    border-bottom: 1px solid !important;
}

corporateBody > *:not(revision):not(change):before(500),
corporateBody > *:not(revision):not(change):after {
    color: #102B3F !important;
}

person > *:not(revision):not(change) {
    border-color: #3D52D5 !important;
    border-left: 3px solid !important;
    border-bottom: 1px solid !important;
}

person > *:not(revision):not(change):before(500),
person > *:not(revision):not(change):after {
    color: #3D52D5 !important;
}

work > *:not(revision):not(change) {
    border-color: #820263 !important;
    border-left: 3px solid !important;
    border-bottom: 1px solid !important;
}

work > *:not(revision):not(change):before(500),
work > *:not(revision):not(change):after {
    color: #820263 !important;
}

exml|place > *:not(revision):not(change) {
    border-color: #D77A61 !important;
    border-left: 3px solid !important;
    border-bottom: 1px solid !important;
}

exml|place > *:not(revision):not(change):before(500),
exml|place > *:not(revision):not(change):after {
    color: #da542f !important;
}


/* ######### Spezifikation Properties #########*/

bf|provider:before(500) {
    content: "Publisher: " !important;
}

bf|title:before(500) {
    content: "Titel (Bibframe): " !important;
}

dc|title:before(500) {
    content: "Titel (DC Elements): " !important;
}

dublicateGndIdentifier:before(500) {
    content: "Mögliche Dublette: " !important;
}

gndo|author:before(500) {
    content: "Autor: " !important;
}

gndo|biographicalOrHistoricalInformation:before(500) {
    content: "Biographische Angaben: " !important;
}

/* --##{  broaderTerm  }#-- */
gndo|broaderTerm:before(500) {
    content: "Oberbegriff (allgemein): " !important;
}

gndo|broaderTerm[gndo|type='generic']:before(500) {
    content: "Oberbegriff (generisch): " !important;
}

gndo|broaderTerm[gndo|type='instantial']:before(500) {
    content: "Oberbegriff (instantiell): " !important;
}

gndo|broaderTerm[gndo|type='partitive']:before(500) {
    content: "Oberbegriff (partitiv): " !important;
}

gndo|broaderTerm[gndo|type='with-more-than-one-element']:before(500) {
    content: "Oberbegriff (mehrgliedrig): " !important;
}

/* --##{  contributor  }#-- */
gndo|contributor:before(500) {
    content: "Beteiligte Person: " !important;
}

gndo|contributor[gndo|role]:before(500) {
    content: "Beteiligte Person " !important;
}

gndo|contributor[gndo|role]:before(499) {
    content: "(" oxy_popup( edit, "@gndo:role", editorSort, "ascending", selectionMode, "single", color, "inherit") "): ";
    text-decoration: none;
}

/* --##{  dateOfBirth  }#-- */
gndo|dateOfBirth:before(500) {
    content: "Geburtsdatum: " !important;
}

/* --##{  dateOfBirth  }#-- */
gndo|dateOfDeath:before(500) {
    content: "Sterbedatum: " !important;
}

gndo|dateOfEstablishment:before(500) {
    content: "Gründungsdatum: " !important;
}

/* --##{  dateOfEstablishmentAndTermination  }#-- */
gndo|dateOfEstablishmentAndTermination:before(500) {
    content: "Gründungs- und Auflösungsdatum: " !important;
}

gndo|dateOfEstablishmentAndTermination:focus-within:after {
    display: none;
}

gndo|dateOfEstablishmentAndTermination:focus-within:after(2) {
    display: block;
    content: "@iso-from: " oxy_textfield( edit, "@iso-from", columns, 30 );  
    text-decoration: none;
}

gndo|dateOfEstablishmentAndTermination:focus-within:after(3) {
    display: block;
    content: "@iso-to: " oxy_textfield( edit, "@iso-to", columns, 30 );  
    text-decoration: none;
}

gndo|firstAuthor:before(500) {
    content: "Autor (primär): " !important;
}

gndo|gender:before(500) {
    content: "Biologisches Geschlecht: " !important;
}

gndo|geographicAreaCode:before(500) {
    content: "Geographischer Schwerpunkt: " !important;
}

gndIdentifier:before(500) {
    content: "GND-Identifier: " !important;
}

gndo|gndSubjectCategory:before(500) {
    content: "Schlagwort: " !important;
}

note:before(500) {
    content: "Anmerkung: " !important;
}

foaf|page:before(500) {
    content: "Weitere Informationen: " !important;
}

gndo|placeOfBirth:before(500) {
    content: "Geburtsort: " !important;
}

gndo|placeOfDeath:before(500) {
    content: "Sterbeort: " !important;
}

gndo|preferredName:before(500) {
    content: "Vorzugsbenennung: " !important;
}

gndo|professionOrOccupation:before(500) {
    content: "Beruf/Beschäftigung: " !important;
}

gndo|publication:before(500) {
    content: "Veröffentlichung: " !important;
}

gndo|variantName:before(500) {
    content: "Namensvariante: " !important;
}


gndo|relatesTo:before(500) {
    content: "Beziehung: " !important;
}

img:before(500) {
    content: "Bild: " !important;
}

owl|sameAs:before(500) {
    content: "SameAs: " !important;
}

source:before(500) {
    content: "Quelle: " !important;
}

