@namespace bf "http://id.loc.gov/ontologies/bibframe/";
@namespace dc "http://purl.org/dc/elements/1.1/";
@namespace exml "https://sub.uni-goettingen.de/met/standards/entity-xml#";
@namespace gndo "https://d-nb.info/standards/elementset/gnd#";
@namespace mml "http://www.w3.org/1998/Math/MathML";
@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace svg "http://www.w3.org/2000/svg";
@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xlink "http://www.w3.org/1999/xlink";
@namespace xml "http://www.w3.org/XML/1998/namespace";

/*############################{  Specs  }##############################*/
specs,
specs > * {
    display: block;
    margin-bottom: 2em;
    line-height: 1.5em;
}

specs > * {
    padding: 0.2em 0.5em;
}

specs > *::before(100) {
    line-height: 1.5em;
    padding: 0.05em 0.5em;
    margin-left: -0.5em;
    margin-right: 1em;
}

specs > *::before(100) {
    background: #223843;
    color: #EFF1F3;
    font-weight: 600;
}

specs > *::before(100) {
    content: oxy_xpath("name()");
}

specs > idno::before(100) {
    content: "ID des Projekts";
}

specs > idno::before(90) {
    content: 
        "Typ: "
        oxy_textfield(
            edit, "@type",
            columns, 10,
            fontInherit, true
        );
    margin-right: 1em;
}

specs > duration::before(100) {
    content: "Dauer des Projekts";
}

specs > duration::before(90) {
    content: "Von: "
        oxy_textfield(
            edit, "@from",
            columns, 10,
            fontInherit, true
        );
    margin-right: 1em;
}

specs > duration::before(89) {
    content: "Bis: "
        oxy_textfield(
            edit, "@to",
            columns, 10,
            fontInherit, true
        );
    margin-right: 1em;
}

specs > entities::before(100) {
    content: "Entitäten, die im Rahmen des Projekts verwendet werden.";
}

specs > entities::before(90) {
    content: "Anzahl (ca.): "
        oxy_textfield(
            edit, "@count",
            columns, 10,
            fontInherit, true
        );
    margin-right: 1em;
}

specs > entities::before(89) {
    content: "Welche?: "
        oxy_textfield(
            edit, "@types",
            columns, 10,
            fontInherit, true
        );
    margin-right: 1em;
}

/* specs > idno::before(1),
specs > duration::before(1),
specs > entities::before(1) {
    content: "Comment: ";
    font-style: italic;
} */

/*############################{  Interview  }##############################*/
interview,
interview > div,
interview > div > block {
    display: block;
}

interview > div {
    margin-bottom: 4em;
}

interview > div > title::before(1) {
    content: oxy_xpath(" count(parent::div/preceding-sibling::div)+1||'. '");
}

interview > div > title {
    display: block;
    font-size: 1.5em;
    line-height: 1.5em;
    margin-bottom: 0.5em;
}

interview block {
    margin-bottom: 1.5em;
    line-height: 1.5em;
}

interview block > question {
    display: block;
    font-weight: 600;
    background-color: #587D71;
    color: #EFF1F3;
    padding: 0.3em 0.5em;
}

interview block > question::before(1),
interview block > question::after(1) {
    content: "\""
}

interview block > desc {
    display: block;
}