@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace gndo "https://d-nb.info/standards/elementset/gnd#";

/* Hides all Revision Blocks */

/* ### RECORDS ### */
data > list > *:not(title):not(abstract):not(oxy|comment) > revision {
    display: none;
}
