img[src] {
    link: attr(src);
}

img[src]:after {
    text-decoration: none;
}

img[src]:after(1005) {
    display: block;
    position:relative;
    border: none;
    max-width:90%;
    color: gray;
    background-color: inherit;
    content: attr(src, url) !important;
}

img[src][height]:after(1005) {
    height: attr(height);
}

img[src][width]:after(1005) {
    width: attr(width);
}


img[src]:after(1001) {
    width:24px;
    display:block;
    position:relative;
    bottom:0px;
    text-align:right;
    /* right:-24px; */
    content: oxy_button(transparent, true, action, oxy_action(
          name, 'Edit', 
          description, 'Edit',
          operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', 
          arg-setPseudoClassNames, '-oxy-edit'          
        ), showIcon, false);
    ;
}



img[src]:-oxy-edit:after(1001) {
    content: oxy_button(transparent, true, action, oxy_action(
          name, 'Done Editing', 
          description, 'done',
          operation, 'ro.sync.ecss.extensions.commons.operations.ChangePseudoClassesOperation', 
          arg-removePseudoClassNames, '-oxy-edit'          
        ), showIcon, false);
    ;
}

img[src]:-oxy-edit:after(1002) {
    display:block;
    content:
        oxy_label(
            text, " Width: ", 
            width, 5em, 
            color, inherit
        )
        oxy_combobox(
               edit, '@width', 
               editable, true,
               width, 30em
            )
    ;
    text-decoration:none;
    color:white;
    background-color:#1A669D;
}

img[src]:-oxy-edit:after(1003) {
    display:block;
    content:
        oxy_label(
            text, " Height: ", 
            width, 5em, 
            color, inherit
        )
        oxy_combobox(
               edit, '@height', 
               editable, true,
               width, 30em
            )
    ;
    text-decoration:none;
    color:white;
    background-color:#1A669D;
}