@namespace bf "http://id.loc.gov/ontologies/bibframe/";
@namespace dc "http://purl.org/dc/elements/1.1/";
@namespace exml "https://sub.uni-goettingen.de/met/standards/entity-xml#";
@namespace gndo "https://d-nb.info/standards/elementset/gnd#";
@namespace mml "http://www.w3.org/1998/Math/MathML";
@namespace oxy "http://www.oxygenxml.com/extensions/author";
@namespace svg "http://www.w3.org/2000/svg";
@namespace xi "http://www.w3.org/2001/XInclude";
@namespace xlink "http://www.w3.org/1999/xlink";
@namespace xml "http://www.w3.org/XML/1998/namespace";



label {
    display: block;
    border-left: 3px solid rgb(0, 176, 207);
    padding: .3em;
    margin-bottom:1em;
    background: rgb(212, 212, 212);
}

label:has( term ){
    background: rgba(123, 195, 207, 0.671);
}


term:before(200){
    content: 
        oxy_button(action, oxy_action(
          name, 'x', 
          description, 'Delete Term', 
          operation, 'DeleteElementOperation', 
          arg-elementLocation, '.'
        ),
        transparent, false,
        fontInherit, false
    ) "";
    margin-right: .5em;
}

label:before(100){
    content: attr(name);
    font-weight: 600;
    font-size: large;
}

label[type]:before(99){
    content: attr(type);
    font-weight: 100;
    font-size: normal;
    font-style: italic;
    font-family: monospace;
    margin-left: .5em;
}

label[type]:before(80){
    content: "(" oxy_xpath("count(child::*:term)") ")";
    font-weight: 100;
    margin-left: .5em;
}

term {
    display: block;
    margin-left: 1em;
}

term {
    margin-bottom: 0.5em;
    padding: .3em;
    text-decoration-line: none !important;
    /* color: unset !important; */
}

term[type]:after(3) {
    display: block;
    content: attr(type);
    font-size: smaller;
    text-decoration-line: none;
}

term[gndo|ref]:after(2) {
    margin-left: 0.5em;
    content: attr(gndo|ref);
    /* link: attr(gndo|ref); */
}

/* EDITION MODE */
term[gndo|ref]:focus-within:after(2) {
    content:
        oxy_textfield(
            edit, "@gndo:ref",
            columns, 40
        );
}