/* 
    GENERAL: Structuring, Content Width etc. 
    ############################## START ################################# 
*/
body {
    font-family: 'Gill Sans', 'Gill Sans MT', "Helvetica Neue", Helvetica, Arial,sans-serif;
    /* text-align: justify; */
}

#mkdocs-search-query:focus {
    border:1px solid #546e7a;
    box-shadow: 0 1px 1px #546e7a inset, 0 0 8px #73a1b6a1;
}

.wm-page-content {
    max-width: 750px;
}


/* ############################## GENERAL END ################################# */



/* 
    TYPOGRAPHY: Font Size, Line Hight, Vertical Space etc. 
    ############################## START ################################# 
*/

/*  General Styling of the content Area 
    ***********************************/
div.wm-page-content {
    font-size: 1.2em;
    line-height: 1.5;
}

/*  Content Headings 
    ***********************************/
.wm-page-content h2,
.wm-page-content h3 {
    margin-top: 1.5em;
}

.wm-page-content h4,
.wm-page-content h5 {
    margin-top: 1em;
}

.wm-page-content h1 {
    margin-bottom: 1.2em;
}

.wm-page-content h2,
.wm-page-content h3,
.wm-page-content h4,
.wm-page-content h5 {
    margin-bottom: 0.8em !important;
    letter-spacing: -0.01em;
}

/*  Content Elements 
    ***********************************/
.wm-page-content blockquote {
    border-left: 5px solid #546e7a;
    font-size: 0.8em;
    margin-bottom: 2em;
}

.wm-page-content pre > code {
    font-size: 1.1em;
    line-height: 1.5;
} 

.wm-page-content ol, 
.wm-page-content ul,
.wm-page-content p,
.wm-page-content table {
    margin-bottom: 1.3em;
}

.wm-page-content pre {
    margin-bottom: 2em;
}

/*  List Formating 
    *************************************/

/* reduces the space above ul that are directly preceeded by a paragraph */
/* .wm-page-content p + ul {
    margin-top: -1em !important;
} */

.wm-page-content li {
    margin-bottom: 0.6em;
}

.wm-page-content li > ul {
    margin-bottom: 0;
}

.wm-page-content li > ul > li {
    margin-top: 0.6em;
}

/* to reduce bottom margin in case of false rendering in Markdown */
.wm-page-content li > p {
    margin-bottom: 0;
}

/* ############################## TYPOGRAPHY END ################################# */



/* TYPOGRAPHY II: Styling
   ############################## START #################################  
*/

/* Headings */

.wm-page-content h2 {
    border-bottom: 3px solid #546e7a;
}

.wm-page-content h3 {
    border-bottom: 2px solid #546e7a;
}

.wm-page-content h4 {
    border-bottom: 1px solid #546e7a;
}

.wm-page-content span.emph {
    font-variant: small-caps;
    letter-spacing: 0.05em;   
}

/*  Links Styling 
    *************************************/
.wm-page-content a:not(.btn) {
    color: #445963 !important;
    text-decoration-style: dotted;
    text-decoration-line: underline;
}

.wm-page-content a:not(.btn):hover {
    text-decoration-style: solid;
}

a code {
    color: #fff !important;
    text-decoration-style: none;
    text-decoration-line: none;
}

a code {
    background: #648492;
    border-color: #546e7a;
}

a:hover code {
    text-decoration: underline !important;
}
/* ############################## TYPOGRAPHY II END ################################# */